@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-family: "Barlow", sans-serif;
  border: 0;
  outline: none;
  box-sizing: border-box;
  /* border: 2px solid #00179b; */
}

body {
  scroll-behavior: smooth;
  position: relative;
}

h1 {
  font-size: 5rem;
  max-width: 50rem;
  text-align: center;
  line-height: 4rem;
}

h2 {
  font-size: 1.5rem;
  max-width: 50rem;
  text-align: center;
}

h3 {
  text-align: center;
}

.header {
  width: 100%;
  background: #ccba9f;
  justify-items: center;
  overflow: hidden;
  height: 83px !important;
  .header__container {
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
}

.header__container--logo {
  .logo__image {
    max-width: 6rem;
    border-radius: 2rem;
  }
}

.header__arrow {
  display: none;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.navigation__list--item > a {
  position: relative;
  justify-content: center;
  display: flex;
  z-index: 1;
  transition: .3s;
}

.navigation__list--item > a::before {
  content: '';
  width: 120%;
  height: 2px;
  background: #ebebeb;
  display: inline-block;
  position: absolute;
  transition: .3s;
  z-index: -1;
  bottom: -.3rem;
}

.navigation__list--item > a:hover::before {
  content: '';
  width: 120%;
  height: 6.2rem;
  background: #ebebeb;
  display: inline-block;
  position: absolute;
  z-index: -1;
  bottom: -2.5rem;
}

.contacts__link {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  a {
    font-size: 1.1rem;
  }
}


.sign__button {
  background: #ebebeb00;
  padding: .5rem 1rem;
  border: .1rem solid #ebebeb;
  border-radius: 2rem;
  color: #ffffff;
  transition: .3s;
}

.sign__button:hover {
  background: #000;
  color: #ebebeb;
  border: .1rem solid #000;
  cursor: pointer;
}

/* section cover */

.cover {
  justify-items: center;
  margin-bottom: 5rem;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background: url(./images/sfdg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover__title {
  margin-bottom: 3rem;
  .cover__title--text {
    margin-bottom: 1rem;
    color: #ffefd6;
  }
  .cover__title--text--second {
    color: #ffe2b3;
  }
}

.cover__button {
  display: flex;
  column-gap: 2rem;
  .cover__button--sign, .cover__button--portfolio {
    background: #ffd900;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: 0;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  .cover__button--portfolio {
    background: #ebebeb;
  }
}

.cover__button--sign::after {
  content: 'Записаться';
  position: absolute;
  z-index: 2;
  font-size: 1.2rem;
  display: inline-block;
  left: 2rem;
}

.cover__button--portfolio::after {
  content: 'Портфолио';
  position: absolute;
  z-index: 2;
  font-size: 1.2rem;
  display: inline-block;
  left: 2rem;
}


.cover__button--sign::before {
  content: '';
  width: 4rem;
  height: 4rem;
  background: #ebebeb;
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  top: 1rem;
  left: -1rem;
  transition: .3s;
}

.cover__button--sign:hover {
  cursor: pointer;
}

.cover__button--sign:hover::before {
  content: '';
  width: 8rem;
  height: 8rem;
  background: #ebebeb;
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  top: -1rem;
  left: -1rem; 
}

.cover__button--portfolio::before {
  content: '';
  width: 4rem;
  height: 4rem;
  background: #ffd900;
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  bottom: 1rem;
  right: -1rem;
  transition: .3s;
}

.cover__button--portfolio:hover::before {
  content: '';
  width: 8rem;
  height: 8rem;
  background: #ffd900;
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  bottom: -1rem;
  right: -1rem; 
}

.cover__last--text {
  margin-top: 3rem;
  && > h3 {
    color: #ccba9f;
  }
}

/* advantages */

.advantages {
  width: 100%;
  display: flex;
  background: #ebebeb;
  padding: 3rem 0;
}

.advantages__content {
  margin: 0 auto;
  max-width: 80rem;
}

.advantages__title {
  margin-bottom: 1rem;
  text-align: center;
}

.advantages__title--second {
  max-width: 45rem;
  margin-bottom: 2rem;
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  max-width: 45rem;
  justify-content: space-between;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
}

.advantages__item--icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  margin: 0 auto;
  background: #ccba9f;
  justify-content: center;
  margin-bottom: 2rem;
  border-radius: 50%;
  box-shadow: 
  inset 0 -3em 3em rgba(0, 0, 0, 0.1),
  0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.advantages__icon {
  width: 3rem;
}

.advantages__text {
  max-width: 10rem;
  h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .advantages__description {
    font-size: 1.1rem;
    text-align: center;
  }
}

.callback {
  width: 100%;
  background: #ccba9f;
  padding: 5rem 0;
}

.callback__content {
  margin: 0 auto;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
}

.callback__form {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.callback__number {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.callback__number::placeholder {
  font-size: 1.4rem;
}

.callback__button {
  background: #ccba9f;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 0;
  display: block;
  border-radius: 1rem;
  transition: .3s;
}

.callback__button:hover {
  background: #ffd900;
  cursor: pointer;
}

.team {
  width: 100%;
  background: #ebebeb;
  padding: 6rem 0;
}

.team__content {
  margin: 0 auto;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.team__title {
  text-align: center;
  p {
    font-size: 1.2rem;
  }
  h1, h2 {
    margin: 0 auto;
    margin-bottom: .5rem;
  }
}

.team__list {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.team__item {
  display: flex;
  flex-direction: column;
}

.team__item--person {
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  img {
    width: 100%;
  }
}

.item__person--name {
  margin-bottom: .2rem;
}

.item__person--data {
  margin: 0 auto;
}

.price {
  width: 100%;
  background: #535353;
}

.price__content {
  width: 80rem;
  margin: 0 auto;
  padding: 6rem 0;
}

.price__title {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
  margin-bottom: 4rem;
}

.price__title--first, .price__title--second {
  margin: 0 auto;
}

.price__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.price__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 27rem;
  min-width: 25rem;
  background: #ebebeb;
  padding: 1rem;
  height: 30rem;
  border: .1rem solid #fff;
  border-radius: 2rem;
  .price__item--button {
    background: #ffffff00;
    margin-bottom: 2rem;
    padding: 1rem 0;
    font-size: 1.2rem;
    /* border: .1rem solid #000; */
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transition: .3s;
  }
}

.price__item--button:hover {
  cursor: pointer;
}

.price__item--button::after {
  content: 'Узнать больше';
  position: absolute;
  font-size: 1.2rem;
  z-index: 2;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  
}

.price__item--button::before {
  content: '';
  width: 8rem;
  height: 8rem;
  background: #7a7a7a;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  bottom: -4rem;
  left: -2rem;
  transition: .3s;
}

.price__item--button:hover::after {
  color: #ebebeb;
}

.price__item--button:hover::before {
  content: '';
  width: 20rem;
  height: 20rem;
  background: #7a7a7a;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  bottom: -4rem;
  left: -2rem;
}

.price__item--first {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.price__item--second {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.price__item--last {
  max-width: 17rem;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.portfolio {
  width: 100%;
  background: #ccba9f;
  padding: 6rem 0;
}

.portfolio__content {
  width: 80rem;
  margin: 0 auto;
}

.portfolio__title {
  margin: 0 auto;
  margin-bottom: 4rem;
}

.portfolio__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 35rem);
  gap: 1.5rem;
}


.portfolio__item {
  width: 100%;
  border-radius: 4rem;
  box-sizing: content-box;
  background: rgb(255,255,255);
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.18);
}

.portfolio__item:nth-child(1) {
  background: url(https://avatars.mds.yandex.net/get-altay/6514890/2a0000018a93cd3132fd717aba52404f1466/XXXL);
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio__item:nth-child(2) {
  background: url(https://avatars.mds.yandex.net/get-altay/10878016/2a0000018a93cd30e92f92f61107f7bd2b93/XXXL);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__item:nth-child(3) {
  background: url(https://avatars.mds.yandex.net/get-altay/6514890/2a0000018a93cd302c25bd467d103d03aee9/XXXL);
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__item:nth-child(4) {
  background: url(https://avatars.mds.yandex.net/get-altay/9793917/2a0000018b2d5b557b3acdd1f88126addbbd/XXXL);
  grid-row: 3 / 5;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__item:nth-child(5) {
  background: url(https://avatars.mds.yandex.net/get-altay/10705374/2a0000018be7cb11e36ad9fb21a357f5073d/XXXL);
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__item:nth-child(6) {
  background: url(https://avatars.mds.yandex.net/get-altay/10350441/2a0000018e04807ad9f2ac61fd7df22fc38f/XXXL);
  
  grid-column: 2 / 4;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__item:nth-child(7) {
  background: url(https://avatars.mds.yandex.net/get-altay/10636707/2a0000018ad19b659765c3d79da52dcb269e/XXXL);
  grid-column: 1 / 4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sign {
  background: #535353;
  padding: 6rem 0;
}

.sign__content {
  width: 80rem;
  margin: 0 auto;
}

.sign__title {
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

.sign__form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.sign__form--line {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  width: 100%;
  input {
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
  }
}

.sign__radio {
  font-size: 1.3rem;
  color: #fff;
  align-self: start;
}

.sign__form--radio {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  align-self: start;
}

.radio__list {
  display: flex;
  column-gap: .5rem;
  align-items: center;
}

input[type=radio]:hover {
  cursor: pointer;
}

.radio__description {
  font-size: 1.3rem;
  color: #fff;
}

.sign__send {
  background: #ffd90000;
  position: relative;
  font-size: 1.3rem;
  padding: 1.4rem 0;
  width: 15rem;
  border-radius: .5rem;
  margin-top: 2rem;
  overflow: hidden;
  display: block;
  transition: .3s;
}

.sign__send:hover {
  background: #ffd900;
  cursor: pointer;
}

.sign__send::after {
  content: 'Записаться';
  font-size: 1.3rem;
  display: block;
  position: absolute;
  color: #000;
  z-index: 2;
  top: .6rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.sign__send::before {
  content: '';
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background: #ffea75;
  bottom: -1rem;
  left: -1rem;
  transition: .3s;
}

.sign__send:hover::before {
  content: '';
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background: #ffea75;
  bottom: -3rem;
  left: -3rem;
}

.send__text {
  font-size: 1.2rem;
  color: #ebebeb;
}

.contacts {
  background: #00179b;
  width: 100%;
  height: 700px;
}

.contacts__content {
  display: flex;
  column-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.contacts__map {
  width: 50%;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-items: flex-start;
  width: 50%;
  .contacts__title {
    font-size: 4rem;
    color: #fff;
    text-align: start;
  }

  .contacts__number, .contacts__email, .contacts__adress {
    color: #fff;
    font-size: 1.5rem;
  }
}

.footer {
  width: 100%;
  background: linear-gradient(#535353, #2e2e2e);
  justify-items: center;
}

.footer__content {
  padding: 3rem 0;
  width: 80rem;
  display: flex;
  justify-content: space-between;
}

.footer__release {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.footer__navigation {
  display: flex;
  column-gap: 3rem;
}

.footer__navigation--list, .footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.footer__navigation--item > a, .footer__contacts--item > a {
  font-size: 1.3rem;
  color: #fff;
}

.footer__media {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.media {
  background: #d6d6d6;
  height: fit-content;
  padding: 1rem;
  border-radius: 50%;
  justify-items: center;
  height: 82px;
  transition: .2s;
}

svg {
  width: 50px;
  transition: .2s;
}

.media:hover {
  background: #fff;
}

.media:hover > svg {
  filter: drop-shadow(5px 5px 2px rgb(255, 217, 0)) invert(50%);;
}


/* modal window */

.container {
  width: 100%;
  background: #2e2e2e4f;
  height: 100vh;
  backdrop-filter: blur(.3rem); 
  position: fixed;
  display: none;
}

.sign__window {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sign__window--block {
  background: #d6d6d6;
  width: 70rem;
  max-height: 90vh;
  padding: 2rem 0;
  border-radius: 2rem;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
}

.sign__window--close {
  background: #ebebeb00;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: .1rem solid #2e2e2e;
  border-radius: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}

.sign__close {
  width: .3rem;
  height: 2rem;
  background: #000;
  border-radius: .2rem;
  transition: .3s;
}

.sign__window--close:hover {
  cursor: pointer;
}

.sign__window--close:hover .sign__close--first {
  position: absolute;
  transform: rotate(45deg);
  transition: .2s;
  width: .3rem;
  height: 2rem;
}

.sign__window--close:hover .sign__close--second {
  position: absolute;
  transform: rotate(-45deg);
  transition: .5s;
  width: .3rem;
  height: 2rem;
}

.sign__window--content {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.sign__window--title {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.sign__window--form {
  background: #3a3a3a2c;
  padding: 1rem;
  border: .1rem solid #2e2e2e;
  border-radius: 1rem;
}

.sign__window--form--line {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1rem;
  input {
    padding: 1rem 2rem;
    border: .1rem solid #2e2e2e;
    border-radius: .6rem;
    font-size: 1.3rem;
    color: #2e2e2e;
    &&::placeholder {
      color: #2e2e2e;
    }
  }
}

.sign__window--radio {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: .3rem;
}

.sign__window--form--radio {
  display: flex;
  flex-direction: column;
  row-gap: .3rem;
}

.radio__window--list {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.radio__window--description {
  font-size: 1.3rem;
}

.sign__window--send {
  justify-self: center;
  margin: .3rem 0;
}

.send__window--text {
  justify-self: center;
  margin-bottom: 1rem;
}

.send__text {
  text-align: center;
}

.pet__block {
  width: 70rem;
  height: fit-content;
  background: #ebebeb;
  padding: 2rem;
  max-height: 50rem;
  overflow: hidden;
  border-radius: 1rem;
}

.pet__content {
  position: relative;
  && > .sign__window--close {
    top: 0;
    right: 0;
  }
}

.pet__title {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.pet__service {
  background: #b1b1b1;
  padding: 1rem;
  border-radius: 1rem;
}

.service__list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  height: 33rem;
  overflow: auto;
  justify-content: center;
}

.service__item {
  display: flex;
  width: 20rem;
  height: 20rem;
  flex-direction: column;
  row-gap: 1rem;
  background: #cecece;
  justify-content: space-between;
  padding: 1rem;
  border-radius: .5rem;
  /* align-items: center; */
  
  position: relative;
}

.service__item::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  background: #00000086;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
}

.service__item--title {
  z-index: 2;
  color: #fff;
  font-size: 1.4rem;
}

.service__item--price {
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.service__price--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: .1rem solid #fff;
}

.service__price--item > * {
  color: #fff;
  font-size: 1.2rem;
}


.testimonial__content {
  background-color: #fff;
  padding: 150px 0px;
}

.testimpnial__content--head > h3 {
  font-size: 3rem;
}

.testimonial__carousel {
  position: relative;
  width: 1200px;
  height: 425px;
  margin: 50px auto 0;
  user-select: none;
  touch-action: pan-y;
}

.carousel__track--item img {
  pointer-events: none;
}

.carousel__list {
  width: 1200px;
  height: 425px;
  overflow: hidden;
}

.carousel__list.grab {
  cursor: grab;
}

.carousel__list.grabbing{
  cursor: grabbing;
}

.carousel__track {
  display: flex;
}

.carousel__track--item {
  width: 1200px;
  height: 425px;
  flex-shrink: 0;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial__content--arrows {
  margin-top: 15px;
  text-align: end;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.next__slide {
  padding: 0;
  width: 43px;
  height: 43px;
  background: #091242;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 30px;
  cursor: pointer;
  align-items: center;
  img {
    margin: 0 auto;
  }
}

.prev__slide {
  padding: 0;
  width: 43px;
  height: 43px;
  background: rgb(255,182,41);
  background: linear-gradient(90deg, rgba(255,182,41,1) 0%, rgba(255,218,86,1) 50%, rgba(255,215,166,1) 100%);
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.next__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next__slide.disabled,
.prev__slide.disabled {
  opacity: .25;
  pointer-events: none;
}

.testimpnial__content--head {
  width: 1200px;
  margin: 0 auto;
}

.slide__content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.slide__content--person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person__info {
  display: flex;
  align-items: center;
  column-gap: 10px;
  img {
    width: 91px;
  }
}

.person__info--image {
  border-radius: 50%;
}

.person__info--data {
  h6 {
    color: #091242;
    font-weight: 500;
  }
  p {
    font-weight: 400;
    color: #091242;
  }
}

.person__icon {
  background: rgb(255,182,41);
  background: linear-gradient(90deg, rgba(255,182,41,1) 0%, rgba(255,218,86,1) 50%, rgba(255,215,166,1) 100%);
  width: 72px;
  height: 72px;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  img {
    width: 30px;
  }
}

.slide__content--star {
  display: flex;
  column-gap: 3px;
}

.carousel__track--item--second {
  background: #111C55;
  color: #fff;
  .person__info--data {
    h6, p {
      color: #fff;
    }
  }
  .slide__content--description > p {
    color: #fff;
  }
}

.carousel__track--item--first, .carousel__track--item--second {
  padding: 62px 72px;
}



@media screen and (max-width: 1290px) {

  .header__container, .advantages__content, .callback__content, .team__content, .price__content, .portfolio__content, .sign__content, .footer__content {
    width: 60rem !important;
  }

  .advantages__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rewiews {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial__content, .testimonial__carousel {
    width: 60rem;
    margin: 0 auto;
  }

  .testimpnial__content--head, .testimonial__content--arrows {
    width: 100%;
  }

  .carousel__list {
    width: 960px;
  }

  .carousel__track--item {
    width: 959px;
  }

  .sign__window--block {
    width: 60rem;
    height: 80vh;
  }

  .sign__window--content {
    row-gap: 1rem;
  }

  .sign__window--title {
    row-gap: 0;
  }

  .sign__window--title > h1 {
    font-size: 2.2rem;
  }

  .sign__window--send {
    margin: .2rem 0;
  }

}

@media screen and (max-width: 1024px) {


  .sign__title--first, .portfolio__title, .price__title--first, .team__title--main, .callback__title, .advantages__title, .cover__title--text {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .contacts__content {
    flex-direction: column;
    row-gap: 2rem;
    .contacts__map {
      width: 100%;
      iframe {
        height: 25rem;
      }
    }
  }

  .contacts__title {
    font-size: 1.5rem !important;
  }

  .contacts__number, .contacts__adress, .contacts__email {
    font-size: 1rem;
  }

  .footer__content {
    width: 30rem !important;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.5rem;
    .footer__release {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 965px) {

  .header {
    position: absolute;
    height: 4rem !important;
    display: flex;
    justify-content: center;
    transition: .3s;
    
  }

  .header__container {
    width: 30rem !important;
    flex-wrap: wrap;
    justify-content: space-around !important;
    row-gap: 1rem;
    top: -10rem;
    position: absolute;
    transition: .3s;
  }

  .header__arrow {
    position: absolute;
    bottom: -2rem;
    transform: rotate(90deg);
    transition: .3s;
    display: flex;
    justify-content: center;
    img {
      width: 2rem;
    }
  }

  .navigation__list--item > a::before {
    display: none;
  }

  .navigation__list--item > a:hover::before {
    display: none;
  }

  .portfolio__content {
    width: 40rem !important;
  }

  .portfolio__list {
    grid-template-rows: repeat(5, 20rem);
  }

  .testimonial__content, .testimonial__carousel {
    width: 640px !important;
  }

  .carousel__track--item {
    width: 639px !important;
  }

  .person__icon {
    display: none;
  }

  .carousel__list {
    width: 640px !important;
  }

  .carousel__track {
    width: 640px !important;
  }

  .carousel__track--item--first, .carousel__track--item--second {
    padding: 10px;
    width: 319px;
  }

  .price__cards {
    width: 40rem;
    margin: 0 auto;
    row-gap: 1rem;
  }
  
  .team__content, .price__content, .sign__content, .cover__title, .cover__last--text > h3 {
    width: 40rem !important;
  }

  .advantages__description {
    display: none;
  }

  .callback__text {
    max-width: 30rem;
    margin: 0 auto;
  }

  .callback__content {
    width: 40rem !important;
  }

  .callback__text--second {
    max-width: 30rem;
    margin: 0 auto;
  }

  .price__title {
    margin-bottom: 1rem;
    row-gap: .5rem;
  }

  .sign__window--close {
    align-items: center;
    justify-content: center;
  }

  .sign__close--first {
    transform: rotate(45deg);
    position: absolute;
    width: .3rem;
    height: 2rem;
  }

  .sign__close--second {
    transform: rotate(-45deg);
    position: absolute;
    width: .3rem;
    height: 2rem;
  }

  .sign__window--content {
    justify-content: center;
    align-items: center;
  }

  .sign__window--block {
    width: 40rem;
  }

  .sign__title {
    row-gap: .3rem;
    margin-bottom: 1rem;
  }

  .sign__window--form {
    width: 95%;
  }

  .sign__window--form--line {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: center;
  }

  .sign__window--name, .sign__window--number {
    width: 46%;
  }

  .sign__window--email {
    width: 90%;
  }

  .pet__title {
    row-gap: 0;
  }

  .sign__window--close {
    top: -25px !important;
    right: -25px !important;
  }

  .pet__title--first {
    font-size: 1.7rem;
  }

  .pet__title--second {
    font-size: 1.2rem;
  }

  .pet__block {
    height: 90vh;
  }

  .pet__service {
    height: 28rem;
    overflow: hidden;
  }

  .service__list {
    height: 26rem;
  }

}


@media screen and (max-width: 768px) {

  .cover__content {
    width: 30rem !important;
  }

  .cover__title {
    width: 100% !important;
  }

  .cover__title--text {
    line-height: 2rem;
  }

  .advantages__content {
    width: 30rem !important;
  }

  .advantages__title {
    font-size: 1rem !important;
  }

  .advantages__item--icon {
    margin-bottom: .7rem;
  }

  .callback__content {
    width: 30rem !important;
  }

  .callback__number {
    padding: 1rem 0 1rem 1rem;
  }

  .callback__form {
    column-gap: 0;
  }

  .callback__button {
    padding: 1rem;
  }

  .team__content {
    width: 30rem !important;
    row-gap: 1rem;
  }

  .team__list {
    justify-content: space-around;
    row-gap: 1rem;
  }

  .price__content {
    width: 30rem !important;
  }

  .price__cards {
    width: 30rem;
  }

  .price__item {
    row-gap: 1rem;
    justify-content: center;
    max-height: 25rem;
  }

  .portfolio__content {
    width: 30rem !important;
  }

  .portfolio__list {
    grid-template-rows: repeat(5, 15rem);
  }

  .sign__content {
    width: 30rem !important;
  }

  .sign__title--first {
    line-height: 2rem;
  }

  .cover__last--text, .cover__last--text > h3 {
    max-width: 30rem;
  }

  .testimonial__content, .testimonial__carousel, .carousel__list, .carousel__track--item {
    width: 450px !important;
  }

  .carousel__track--item {
    flex-direction: column;
  }

  .carousel__track--item--first, .carousel__track--item--second {
    width: 450px;
    display: flex;
  }

  .carousel__track {
    column-gap: 0px !important;
  }

  .carousel__list {
    height: 500px !important;
  }

  .slide__content {
    row-gap: .3rem;
  }

  .person__info--image {
    display: none;
  }

  .testimonial__content--arrows {
    display: none;
  }


}

@media screen and (max-width: 560px) {

  /* .header {
    height: 5rem !important;
  } */

  .header__container {
    flex-direction: row !important;
    width: 300px !important;
  }

  .contacts__link {
    display: none;
  }

  .navigation__list {
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
  }

  .header__arrow {
    bottom: -3.4rem;
  }

  .header__container--sign {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .cover__content {
    width: 300px !important;
  }

  .cover__title--text {
    font-size: 1.7rem;
  }

  .cover__title--text--second {
    font-size: 1rem;
  }

  .cover__button {
    flex-direction: column;
    row-gap: .5rem;
  }

  .cover__last--text > h3 {
    width: 300px !important;
  }

  .advantages__list {
    flex-direction: column;
    row-gap: 1rem;
  }

  .advantages__content {
    width: 300px !important;
  }

  .testimonial__content, .testimonial__carousel, .carousel__list, .carousel__track--item {
    width: 300px !important;
    height: 700px !important;
  }

  .testimonial__content {
    height: 1200px !important;
  }

  .carousel__track {
    display: flex;
  }

  .carousel__track--item--first, .carousel__track--item--second {
    width: 300px !important;
    height: 500px !important;
    justify-content: center;
  }

  .slide__content {
    width: 300px !important;
    padding: 0 .5rem;
  }

  .callback__content {
    width: 19rem !important;
  }

  .callback__form {
    flex-direction: column;
  }

  .team__content, .price__content {
    width: 19rem !important;
  }

  .price__content {
    align-items: center;
  }

  .price__cards {
    width: 300px !important;
  }

  .price__item {
    align-items: center;
    min-width: 0rem !important;
  }

  .price__item--first {
    font-size: 1.7rem;
  }

  .price__item--second {
    font-size: 1.2rem;
  }

  .price__item--last {
    font-size: 1rem;
  }

  .price__item--button {
    width: 10rem;
  }

  .portfolio__content {
    width: 19rem !important;
  }

  .portfolio__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 150px);
    gap: .5rem;
  }

  .portfolio__content {
    width: 19rem !important;
    align-items: center;
  }

  .sign__content {
    width: 19rem !important;
  }

  .sign__title {
    width: 19rem;
  }

  .sign__title--first {
    font-size: 1.7rem;
    width: 10rem;
  }

  .sign__form--line {
    width: 19rem !important;
  }

  .sign__form {
    width: 19rem !important;
  }

  .contacts__map, iframe {
    height: 300px !important;
  }

  .footer__content {
    width: 19rem !important;
  }

  .footer__number--link {
    font-size: 1rem !important;
  }

  .pet__title--first {
    line-height: 2rem;
  }


}
